body {
    background-color: #617a99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

svg {
    background-color: #fff;
    box-shadow: 10px 10px 10px #000;
}

#tooltip {
    background-color: #fff;
    opacity: 0.8;
    display: flex;
}

#title {
    text-decoration: underline;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}